@keyframes rotate180 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate180backwards {
    from {
      transform: rotate(-0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.settings-button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    height: 40px;
    width: 40px;
    transition: .3s;

}

.bool-true-rotate-true {
    animation: rotate180 1s ease-in-out;
}

.bool-false-rotate-true {
    animation: rotate180backwards 1s ease-in-out;
}

.settings-button.darkmode-true {
  background-color: rgba(159, 164, 169, .2);

}

.settings-button.darkmode-false {
  background-color: rgba(159, 164, 169, .2);

}

.settings-button:hover {
    cursor: pointer;
}




.settings-button img {
    width: 38px;
    height: 38px;
}