@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, #root, body {
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100vh;
  transition: .3s;
  font-family: 'Inter', sans-serif;
  overflow: scroll;
  overflow-x: hidden;
}

.App::-webkit-scrollbar {
  background-color: rgba(159, 164, 169, .0);
  width: 16px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(159, 164, 169, .05);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(159, 164, 169, .1);
  border-radius: 10px;
}

.darkmode-true {
  /* will-change: contents; */
  background-color: #2F3437;
  color: #EBEBEB;
}

.darkmode-false {
  /* will-change: contents; */
  background-color: white;
  color: #37352F;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4px 0px;
  position: sticky;
  top: 0px;
  z-index: 10;
  transition: .3s;
}

a {
  text-decoration: none;
}

h1 {
  padding: 0px;
  margin: 0px;
}



.header-left {
  margin-left: 16px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: rgba(159, 164, 169, .8);
  background: rgba(159, 164, 169, .1);
  padding: 0px 8px;
  border-radius: 4px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.header-left:hover {
  cursor: pointer;
  transform: translateY(-2px);
  opacity: 0.8;
}

.header-left img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.header-right {
  margin-right: 16px;
  display: flex;
  column-gap: 16px;
  transition: .3s;
}

.header-right img {
  height: 32px;
  transition: .3s;
}

.header-right img:hover {
  cursor: pointer;
  opacity: .8;
  transform: translateY(-2px);
}
.logo {
  margin: 48px 0px;

}

.logo img {
  width: 400px;
  height: auto;
}

.logo h3 {
  color: black;
}
.gray {
  filter: invert(80%) sepia(13%) saturate(121%) hue-rotate(169deg) brightness(80%) contrast(88%);
}
.brown {
  filter: invert(74%) sepia(15%) saturate(1289%) hue-rotate(331deg) brightness(89%) contrast(85%);
}
.orange {
  filter: invert(78%) sepia(27%) saturate(4044%) hue-rotate(330deg) brightness(92%) contrast(99%);
}
.yellow {
  filter: invert(71%) sepia(77%) saturate(412%) hue-rotate(346deg) brightness(85%) contrast(84%);
}
.green {
  filter: invert(68%) sepia(43%) saturate(329%) hue-rotate(84deg) brightness(88%) contrast(84%);
}
.blue {
  filter: invert(68%) sepia(25%) saturate(813%) hue-rotate(165deg) brightness(90%) contrast(89%);
}
.purple {
  filter: invert(71%) sepia(18%) saturate(1074%) hue-rotate(214deg) brightness(91%) contrast(86%);
}
.pink {
  filter: invert(74%) sepia(46%) saturate(710%) hue-rotate(276deg) brightness(92%) contrast(90%);
}
.red {
    filter: invert(58%) sepia(33%) saturate(666%) hue-rotate(308deg) brightness(104%) contrast(84%);
  }


.settings-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 66px;
  z-index: 10;
  border-radius: 4px;
  transition: .3s;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
  width: 704px;
  backdrop-filter: blur(10px);
}


.settings-bar.darkmode-true {
  background-color: #3f4447cc;
  color: #EBEBEB;
  border: 1px solid #565a5cb0;

}

.settings-bar.darkmode-false {
  background-color: rgba(255, 255, 255, 0.548);
  color: #37352F;
  border: 1px solid #e8e8e7d5;
}

.icon-search {
  height: 40px;
  margin: 16px 0px 0px 0px;
  /* background-color: rgba(159, 164, 169, ); */
  border: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 6px;
  padding: 0px 0px;
  order: 2;
  /* flex-grow: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color:rgba(159, 164, 169, 1);
  text-align: center;
  transition: .3s;
  width: 100%;
  backdrop-filter: blur(20px);
}

.icon-search::placeholder {
  color: rgba(159, 164, 169, .5);
  text-align: center;
}

.icon-search:focus {
  outline: 1px solid #2EAADC;
  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.10);
  width: 110%;
}

.main-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 100%;
  height: fit-content;
}

.menu-row-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
}

.menu-row-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
  padding-top: 16px;
  border-top: rgba(159, 164, 169, .1) 1px solid;
  margin-top: 16px;
}

.settings-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 16px;
  width: 100%;
  padding: 0px 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 0px;
  overflow: hidden;
  transition: .3s;
  border-top: none;
  box-shadow: 0px 0px 0px 0px transparent;
}

.settings-menu.show-menu-true {
  height: 176px;
  padding: 16px 16px 16px 16px;
}

.settings-menu.show-menu-true.darkmode-true {
  box-shadow: 0px -1px 0px 0px #565a5c52;
}

.settings-menu.show-menu-true.darkmode-false {
  box-shadow: 0px -1px 0px 0px #e8e8e7af;
}

.settings-menu.darkmode-true {
  background-color: #494e503b;
  color: #EBEBEB;
}

.settings-menu.darkmode-false {
  background-color: #fafafa1e;
  color: #37352F;
}

.folders-menu {

  padding: 16px 16px 16px 16px;
}

.icon-grid-body {
  width: 624px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px;
}

.icon:hover {
  background-color: rgba(159, 164, 169, .1);
  cursor: pointer;
}

.icon img {
  border-radius: 6px;
}

.small-true {
  width: 20px;
  height: 20px;
}

.small-false {
  width: 48px;
  height: 48px;
}

.icon-label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  height: 28px;
  border-radius: 2px;
  overflow: hidden;
  transition: .3s;
  
}

.icon-label.label-hide-false {
  height: 0px;
}
